%p It's not ready yet... in the meantime you:
%ul
	%li=raw "Read the #{link_to "about", about_index_path } section."
	%li=raw "Review my #{resume_link}." 
	%li=raw "Check out my #{linkedin_link} profile."