%p=raw "My name is Adrian Mejia. I'm a software engineer passionate about web development and internet technologies. Currently, I'm working and living the Greater Boston Area. I'm proficient using Java and C# .net, also I have develop projects in PHP (and Drupal) and Ruby ( and Ruby on Rails), and I'm also currently learning Python. You can find more about my work experience in #{linkedin_link} and you can download my #{resume_link}"

%p=raw "Here you can find #{link_to "articles", posts_path } (mostly related to technology and programming), projects and work experiences entries, ..."