= render "about"
/I'm proficient using Java and C# .net, also I have develop projects in PHP (and Drupal) and Ruby ( and Ruby on Rails), and I'm also currently learning Python. 
You can find more about my work experience in 
= linkedin_link
and you can download my 
= resume_link

%p=raw "Here you can find #{link_to "articles", posts_path } mostly related to programming, projects and problem-solution guides,..."